body {
  margin: 0;
  background-color: rgb(1, 116, 139);
}

main {
  margin-top: 1em;
}

#searchCities {
  float: left;
  width: 350px;
  height: auto;
  background-color: rgb(250, 207, 52);
  margin: 1em;
  margin-left: 2em;
  padding: 1em;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 275px;
  height: 40px;
  border-radius: 8px;
  margin: 5px;
}

.btn {
  background-color: rgb(76, 81, 95);
  color: white;
  width: 250px;
  padding: 8px;
  margin: 1em;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.resultCity {
  background-color: rgb(48, 51, 60);
  color: white;
  padding: 8px;
  margin: 1em;
  border-radius: 8px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  border-radius: 8px;
  justify-content: center;
}

#featuredCityCard {
  background-color: rgb(203, 213, 213);
  /* margin: 1em; */
  padding: 1em;
  max-width: 400px;
  border-radius: 8px;
}

#featuredImage {
  float: right;
}

.forcast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#fiveDayForcast {
  flex-shrink: 1;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
}

.day {
  flex-shrink: 3;
  margin: 1em;
  background-color: rgb(195, 82, 59);
  padding: 1em;
  border-radius: 8px;
}

footer {
    margin-top: 15%;
    text-align: center;
}

.btn:hover {
  background-color: rgb(48, 51, 60);
  color: white;
}

.resultCity:hover {
  background-color: rgb(14, 14, 15);
}

.day:hover {
  background-color: rgb(71, 134, 139);
}

@media screen and (max-width: 768px) {
  #searchCities {
    /* min-width: 750px; */
    width: 500px;
  }
  #featuredCityCard {
    max-width: 500px;
    width: 500px;
  }
  #fiveDayForcast {
    width: 500px;
  }
}

@media screen and (max-width: 425px) {
  #searchCities {
    /* min-width: 750px; */
    width: 300px;
  }

  input {
    width: 200px;
  }

  .btn {
    width: 200px;
  }

  #featuredCityCard {
    max-width: 300px;
    width: 300px;
  }
  #fiveDayForcast {
    width: 300px;
  }
}
